*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-image: url(moroccan.png)
  }
  
  .sidebar {
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
   background-image: url(moroccan.png);
    transition: all .5s ease;
    position: right;
  }
  
  .sidebar header {
    text-align: center;
    height: 70px;
    background: lightskyblue;
    user-select: none;
  }
  
  img.header{
      position: absolute;
      top: 10px;
      left: 80px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid black;
  }
  
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
  }
  ul li:hover a{
    padding-left: 50px;
  }
  .sidebar ul a i{
    margin-right: 16px;
  }
  #check{
    display: none;
  }
  
  label #tombol,label #cancel{
    position: absolute;
    border-radius: 100px;
    cursor: pointer;
  }
  
  label #tombol{
    left: 50px;
    color: white;
    padding: 40px 40px;
    pointer-events: none;
    transition: all .5s;
    opacity: 0;
  }
  
  label #cancel{
    z-index: 1111;
    left: 95px;
    top: 10px;
    font-size: 30px;
    color: #0a5275;
    padding: 30px 30px;
    transition: all .5s ease;
    opacity: 0;
  }
  
  #check:checked ~ .sidebar{
    left: -250px;
  }
  
  #check:checked ~ label #tombol{
    left: 40px;
    opacity: 1;
    pointer-events: auto;
  }
  
  #check:checked ~ label #cancel{
    left: -195px;
  }
  
  #check:checked ~ section{
    margin-left: 0px;
  }
  
  .containt {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .pembungkus {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    height: 40px;
    background-color: lightskyblue;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
  }
  
  .brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;
  }
  
  .firstname {
    color: white;
    font-weight: 700;
  }
  
  .lastname {
    color: black;
    font-weight: 550;
    padding-left: 4px;
  }
  
  img.logo{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 70px;
      border: 1px solid black;
  }

section{
    background-position: center;
    background-size: cover;
    height: 80vh;
    transition: all .5s;
    margin-left: -250px;
}

table {
    width: 100%;
    padding-top: 100px;
}

th {
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}

tr:nth-child(even) {
    background-color: navy;
}

tr:nth-child(odd) {
    background-color: lightskyblue;
}


footer {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: lightskyblue;
}

.pembungkus2 {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    height: 40px;
    background-color: lightskyblue;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

p {
    align-items: center;
    font-family: 'Playpen Sans', cursive;
}